<head th:fragment="headFragment">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="#{lang.common.title(${SERVER.sSever})}"></title>

    <!-- favicon -->
<!--    <link th:href="@{/images/favicon-16x16.ico}" rel="shortcut icon"/>-->

    <link th:href="@{/components/bootstrap-5.2.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/components/jquery-ui-1.13.2/jquery-ui.css}" rel="stylesheet"/>
    <link th:href="@{/components/jquery-ui-1.13.2/datetimepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <link th:href="@{/css/contents.css}" rel="stylesheet"/>
    <link th:href="@{/css/menu.css}" rel="stylesheet"/>
    <link th:href="@{/css/member.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/chart.umd.js}"></script>
    <script type="text/javascript" th:src="@{/js/chartjs-plugin-datalabels.min.js}"></script>
    <script type="text/javascript" th:src="@{/components/bootstrap-5.2.0/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/components/jquery-ui-1.13.2/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/components/jquery-ui-1.13.2/datetimepicker.full.min.js}"></script>
    <script type="text/javascript" th:src="@{/components/fontawesome-6.1.2/js/all.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js?v=2}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.monthpicker.js}"></script>
    <script type="text/javascript" th:src="@{/components/ckeditor5/build/ckeditor.js}"></script>

</head>
