<!DOCTYPE html>
<html xmlns:layout="">
<!-- head -->
<th:block th:replace="common/head.html :: headFragment"></th:block>

<body>
<!-- menu -->
<th:block th:replace="common/menu.html :: menuFragment"></th:block>

<!-- contents -->
<div id="layoutSidenav">
    <!-- left menu -->
    <th:block th:replace="common/left_menu.html :: leftMenuFragment"></th:block>

    <div id="layoutSidenav_content">
        <th:block layout:fragment="content"></th:block>
    </div>
</div>

<!-- footer -->
<th:block th:replace="common/footer.html :: footerFragment"></th:block>

<!-- layer -->
<th:block th:replace="common/layer.html :: layerFragment"></th:block>

<!-- import_js -->
<th:block th:if="${#maps.containsKey(importFile, 'importJs')} and ${importFile.importJs} != ''">
    <th:block th:replace="${importFile.importJs} :: importJsFragment"></th:block>
</th:block>

</body>
</html>