<div th:fragment="layerFragment" class="modal-content">
    <!-- 컨텐츠 영역 -->
    <div class="col-lg-12 mt-3">
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.contents.code}"></h5>
            </div>

            <div class="card-body row">
                <form id="layerFrm" accept-charset="utf-8">
                    <div class="row">
                        <div class="col btn-group-sm m-1 p-0 text-right">
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#codeFrm" aria-expanded="false" aria-controls="codeFrm" th:text="#{lang.contents.button.add_code}"></button>
                        </div>
                        <div class="col-12 p-2 collapse" id="codeFrm">
                            <input type="text" class="form-control form-control-sm col-10 d-inline-block" id="addCode" name="addCode">
                            <button type="button" class="btn btn-sm btn-success col-1 ml-2 d-inline-block" onclick="codes.register();" th:text="#{lang.contents.button.register}"></button>
                        </div>
                    </div>
                    <table class="table">
                        <thead></thead>
                        <colgroup>
                            <col style="width: 20%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="p-0 pl-2" id="codeList"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group row" id="btnGroup">
                        <div class="col text-center">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" th:text="#{lang.contents.button.close}"></button>
                            <button type="button" class="btn btn-sm btn-warning" onclick="codes.change();" th:text="#{lang.contents.button.selected}"></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- 컨텐츠 영역 -->
</div>
