<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        coupon.list(page);
        date.datePicker();
    });

    let coupon = {
        // 쿠폰 리스트
        list: function (page = 1) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }

            // 검색 조건을 선택하지 않고 검색어를 입력한 경우
            if ($("select[name=searchType]").val() == "" && $("input[name=searchWord]").val() != "") {
                let searchFailMessage = `[[#{lang.coupon.exception.search.type.empty}]]`; // 검색 조건을 설정해주세요.
                toast.alert(searchFailMessage);
            }

            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/coupons',
                cache : true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {

                        // 페이지 url 갱신 (검색 후 새로고침 시 검색값 유지 )
                        if (window.location.search !== "?" + $("#frm").serialize()) {
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }

                        if (res.data.list.length > 0) {

                            // total count
                            $(".totalCount").next().text(res.data.list.length + "건");

                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {

                                listTbody += `
                                    <tr onclick="coupon.view(${el.idx});" style="cursor:pointer;">
                                        <td class="text-center">${el.idx || "-"}</td>
                                        <td class="text-center"><span class="badge ${el.progressBg}">${el.progressText || "-"}</span></td>
                                        <td class="text-center"><span class="badge ${el.stateBg}">${el.stateText || "-"}</span></td>
                                        <td class="text-center">${el.title || "-"}</td>
                                        <td class="text-center"><span class="badge ${el.duplicationBg}">${el.duplicationText || "-"}</span></td>
                                        <td class="text-center">${el.typeText || "-"}</td>
                                        <td class="text-center">${el.couponCnt}</td>
                                        <td class="text-center">${el.mileage}</td>
                                        <td class="text-center">${el.period}</td>
                                        <td class="text-center">${el.totalCoupon}</td>
                                        <td class="text-center">${el.totalMileage}</td>
                                        <td class="text-center">${el.name || "-"}</td>
                                        <td class="text-center"><span class="badge ${el.storeTypeBg}">${el.storeTypeText || "-"}</span></td>
                                        <td class="text-center">${el.startDate || "-"}</td>
                                        <td class="text-center">${el.endDate || "-"}</td>
                                        <td class="text-center">${el.regdate || "-"}</td>
                                    </tr>
                                `;
                            });
                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("coupon", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());

                        } else {
                            // total count
                            $(".totalCount").next().text("0건");
                            // 결과 없음
                            let listTbody = `<tr><td colspan="14" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }
                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 새로고침 버튼
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/coupons';
        },
        // 쿠폰 상세 팝업
        view: function (idx) {
            js_popup('[[${SERVER.currentDomain}]]/coupons/' + idx, 'coupon_details', '620', '700');
        },
        // 쿠폰 등록 팝업
        register: function () {
            js_popup('[[${SERVER.currentDomain}]]/coupons/register', 'coupon_register', '600', '870');
        },
        // 쿠폰 리스트 엑셀 다운로드
        excel: function () {

            // 엑셀로 다운로드할 데이터가 없습니다.
            let excelDownloadFailMessage = `[[#{lang.coupon.exception.excel.data.empty}]]`;

            if ($(".totalCount").next().text() == '0건') {
                toast.alert(excelDownloadFailMessage);
            } else {
                location.href = '[[${SERVER.currentDomain}]]/v1/coupons/excel?'+$("#frm").serialize();
            }
        }
    }

    // 뒤로가기 이벤트 시 실행
    $(window).on('popstate', function(event) {
        window.location = document.location.href;
    });

    /** 날짜 관련 객체 **/
    let date = {
        // input 날짜 하이픈(-) 자동 입력
        forMatter : (date) => {
            $(".datePicker").on("input", () => {
                let dateValue = date.value.replace(/[^0-9]/g, '')
                    .replace(/^(\d{0,4})(\d{0,2})(\d{0,2})$/g, "$1-$2-$3")
                    .replace(/(\-{1,2})$/g, "");
                date.value = dateValue;
            })
        },
        datePicker : () => {
            // 시작일 date picker 생성
            $("#searchStartDate").datepicker({
                onSelect: function() {
                    let startDate = $.datepicker.formatDate("yy-mm-dd", $(this).datepicker('getDate'));
                    $("#searchStartDate").val(startDate);
                },

                // 시작일 datepicker가 닫힐 때
                onClose: function(selectedDate) {
                    // 종료일의 선택할 수 있는 최소 날짜(minDate)를 선택한 시작일로 지정
                    $("#searchEndDate").datepicker("option", "minDate", selectedDate);
                },
                beforeShow: function() {
                    setTimeout(function(){
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }
            }).on('changeDate', function(e){
                $(this).datepicker('hide');
            });

            // 종료일 date picker 생성
            $("#searchEndDate").datepicker({
                onSelect: function() {
                    let endDate = $.datepicker.formatDate("yy-mm-dd", $(this).datepicker('getDate'));
                    $("#searchEndDate").val(endDate);
                },

                // 종료일 datepicker가 닫힐 때
                onClose: function(selectedDate) {
                    // 시작일의 선택할 수 있는 최대 날짜(maxDate)를 선택한 종료일로 지정
                    $("#searchStartDate").datepicker("option", "maxDate", selectedDate);
                },
                beforeShow: function() {
                    setTimeout(function(){
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }
            }).on('changeDate', function(e){
                $(this).datepicker('hide');
            });

            // date picker 설정
            $.datepicker.setDefaults({
                dateFormat: "yy-mm-dd",
                yearSuffix: "년",
                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월","7월", "8월", "9월", "10월", "11월", "12월"],
                dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
                dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
                dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
                showMonthAfterYear: true
            });
        }
    }
</script>