<th:block layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="col-lg-12 mt-3">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.coupon.stat.title.list}"></h5>
            </div>
            <div class="card-body row">
                <!-- 리스트 -->
                <div class="col-12">
                    <!-- 검색 폼 -->
                    <form id="frm" class="d-flex bd-highlight gx-3" onsubmit="coupon.list(1); return false;" accept-charset="utf-8">
                        <table class="table m-0">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="row p-0">
                                        <div class="input-group input-group-sm m-1 p-0 col-4">

                                            <!-- Date Picker -->
                                            <input type="text" th:placeholder="#{lang.coupon.search.start.date}" class="form-control form-control-sm text-center col-2 ml-1" disabled/>
                                            <input type="text" th:placeholder="YYYY-MM-DD" id="searchStartDate" name="searchStartDate" maxlength="10" class="datePicker form-control text-center col-auto mr-2" oninput="date.forMatter(this)" autocomplete="off"/>
                                            <span class="h5 fw-bold" style="color: gray">~</span>
                                            <input type="text" th:placeholder="#{lang.coupon.search.end.date}" class="form-control form-control-sm text-center col-2 ml-1" disabled/>
                                            <input type="text" th:placeholder="YYYY-MM-DD" id="searchEndDate" name="searchEndDate" maxlength="10" class="datePicker form-control text-center col-auto mr-2" oninput="date.forMatter(this)" autocomplete="off"/>

                                            <!-- 현재 페이지 -->
                                            <input type="hidden" id="page" name="page">
                                        </div>

                                        <!-- 검색 버튼 -->
                                        <div class="text-left col-auto btn-group btn-group-sm m-1 p-0">
                                            <button type="button" id="searchBtn" th:text="#{lang.coupon.button.search}" onclick="coupon.list(1);" class="btn btn-success pr-3 pl-3"></button>
                                            <button type="button" class="btn btn-outline-success" onclick="coupon.reset();"><i class="fa-solid fa-rotate-left"></i></button>
                                        </div>

                                        <!-- 엑셀 다운로드 버튼 -->
                                        <div class="text-right col">
                                            <button type="button" id="excelBtn" onclick="coupon.excel();" class="btn btn-sm btn-info" th:text="#{lang.coupon.button.excel}"></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-inline p-0">
                                        <div class="float-left form-control-sm">
                                            <strong class="totalCount" th:text="#{lang.coupon.search.result} + ' : ' "></strong> <span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- //검색 폼 -->

                    <!-- list -->
                    <table class="table table-hover" id="lists">
                        <thead class="table-dark">
                            <tr>
                                <th rowspan="2" th:text="#{lang.coupon.stat.date}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.register}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.new}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.old}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.re-register}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.out}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.new.percent}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.out.percent}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.new.payment.cnt}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.new.payment.price}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.old.payment.cnt}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.old.payment.price}" class="text-center"></th>
                                <th rowspan="2" th:text="#{lang.coupon.stat.payment.percent}" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <th:block layout:fragment="paging">
                        <div class="col-md-12 d-flex flex-row-reverse my-3">
                            <ul class="pagination" style="font-size: 12px;">
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 영역 -->
    </div>
</th:block>
