<script th:fragment="importJsFragment">

    let admin = {
        // 비밀번호 변경
        modifyPassword: function () {

            let form = $("#changePwdForm")[0];
            let formData = new FormData(form);

            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/admin/mypage/password/[[${idx}]]',
                method: 'PUT',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        toast.alert(res.message);
                        opener.location.reload();
                        self.close();
                    } else {
                        // 수정 실패
                        toast.alert(res.message);
                    }
                },
                error: function(request, status, error) {
                    // filter error
                    toast.alert("code: "+request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        }
    }
</script>