<script th:fragment="importJsFragment">
    $(document).ready(function () {
        ticket.select();
        date.dateTimePicker();
    });

    /* 전역변수 */
    let sellType = 0;

    let ticket = {
        // 그룹 코드 체크박스 세팅
        select: function () {
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/tickets/groups',
                cache : true,
                method: 'GET',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        if (res.data.list.length > 0) {

                            let div = $("<div>");
                            let rowDiv = $("<div>").addClass("p-0 row");

                            // 그룹 옵션 세팅
                            $.each(res.data.list, function (idx, el) {

                                let inputDiv = $("<div>").addClass("text-left d-inline-block col-4");
                                let input = '<input type="checkbox" name="code" value="' + el.idx + '">';
                                let label = '<label class="col-auto pl-1" for="' + el.code + '">' + el.code + '(' + el.name + ')' + '</label>';
                                inputDiv.append(input).append(label);
                                rowDiv.append(inputDiv);

                                // 1줄 3개씩 세팅
                                if ((idx+1) % 3 == 0 || (idx+1) == res.data.list.length) {
                                    div.append(rowDiv);
                                    $("#code").append(div.html());
                                    rowDiv.html("");
                                }
                            });
                            // 이용권 상세
                            ticket.view();
                        }
                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
        },
        // 이용권 상세
        view: function () {
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/tickets/ready/[[${idx}]]',
                method: 'GET',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        if (res.data != null &&  res.data != undefined) {

                            // 그룹 코드 세팅
                            if (res.data.codeIdx != null) {
                                let code = (res.data.codeIdx).split(",");
                                code.forEach((el) => {
                                    $("input:checkbox[name='code'][value='"+el+"']").prop("checked", true);
                                })
                            }

                            // 지급 연령 세팅
                            if (res.data.adult != null) {
                                $("input:radio[name='age'][value='"+res.data.adult+"']").prop("checked", true);
                            }

                            // 이용권 상세 정보 폼
                            $("td[name=idx]").text(res.data.idx||"-");
                            $("td[name=state]").html(`<span class="badge ${res.data.stateBg}">${res.data.stateText || "-"}</span>`);
                            $("td[name=contentsIdx] #contentsIdx").val(res.data.contentsIdx||"-");
                            $("td[name=category]").text(res.data.category||"-");
                            $("td[name=genre]").text(res.data.genre||"-");
                            $("td[name=title]").text(res.data.title||"-");
                            $("td[name=count]").html(`<input type="text" name="count" id="count" class="form-control form-control-sm col-4" value="${res.data.count||"-"}">`);
                            $("td[name=except]").html(`<input type="text" name="except" id="except" class="form-control form-control-sm col-4" value="${res.data.except||"-"}">`);
                            $("td[name=period]").html(`<input type="text" name="period" id="period" class="form-control form-control-sm col-4" value="${res.data.period||"-"}">`);
                            $("input[name=searchStartDate]").val(res.data.startDate||"-");
                            $("input[name=searchEndDate]").val(res.data.endDate||"-");
                            $("td[name=regdate]").text(res.data.regdate||"-");

                        } else {
                            // 결과 없음
                            toast.alert(res.message);
                        }
                        // 작품 정보 세팅 이벤트
                        ticket.setInfo();
                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 이용권 삭제
        delete: function () {

            // 삭제하시겠습니까?
            let deleteConfirmMessage = `[[#{lang.ticket.confirm.delete}]]`;
            if (confirm(deleteConfirmMessage)) {

                // 배열 set
                let idxArr = new Array();
                let idx = $("td[name=idx]").text();
                idxArr.push(idx);

                // 삭제할 idx 전송 : Object to String 변환
                let formData = new FormData();
                const data = JSON.stringify(idxArr);
                formData.set("list", data);

                $.ajax({
                    url: '[[${SERVER.currentDomain}]]/v1/tickets/ready',
                    method: "DELETE",
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.result) {
                            // 삭제 성공
                            opener.location.reload();
                            self.close();
                        } else {
                            // 삭제 실패
                            toast.alert(res.message);
                        }
                    },
                    error: function (request, status, error) {
                        // filter error
                        toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                    }
                });
                return false;
            }
        },
        // 작품 정보 세팅
        setInfo: function () {

            $("button[name='search']").click(function() {
                // 입력 받은 작품 idx
                let contentsIdx = $("#contentsIdx").val();

                // 작품 idx가 없는 경우
                if (contentsIdx == "" || contentsIdx == undefined) {
                    let searchFailMessage = `[[#{lang.ticket.exception.search.contentsIdx.empty}]]`; // 검색할 작품 idx를 입력해주세요.
                    toast.alert(searchFailMessage);

                    // 카테고리
                    $("td[name=category]").text("");
                    // 장르
                    $("td[name=genre]").text("");
                    // 제목
                    $("td[name=title]").text("");

                    // 작품 정보 DB 조회
                } else {
                    // 전체 공백 제거
                    contentsIdx.replace(/\s/gi, "");

                    $.ajax({
                        url: '[[${SERVER.currentDomain}]]/v1/cp-admin/contents/' + contentsIdx,
                        method: 'GET',
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            if (res.result) {
                                if (res.data.view != null) {

                                    // 전역변수 - 작품 판매 유형 세팅
                                    sellType = res.data.view.sellType;

                                    // 카테고리
                                    $("td[name=category]").text(res.data.view.categoryName||"-");
                                    // 장르
                                    $("td[name=genre]").text(res.data.view.genreName||"-");
                                    // 제목
                                    $("td[name=title]").text(res.data.view.title||"-");
                                }
                            } else {
                                // ajax exception error
                                toast.alert(res.message);
                            }
                        },
                        error: function (request, status, error) {
                            // filter error
                            toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                        }
                    });
                    return false;
                }
            });

            // 작품 정보 비우기
            $("button[name='reset']").click(function() {
                // 작품 idx
                $("#contentsIdx").val("");
                // 카테고리
                $("td[name=category]").text("");
                // 장르
                $("td[name=genre]").text("");
                // 제목
                $("td[name=title]").text("");
            });
        },
        // 이용권 수정
        modify: function () {

            // 수정하시겠습니까?
            let modifyConfirmMessage = `[[#{lang.ticket.confirm.modify}]]`;
            if (confirm(modifyConfirmMessage)) {

                let form = $("#frm")[0];
                let formData = new FormData(form);

                // 지급 상태 세팅
                let state = $("td[name='state']").find('span').text();
                if (state == "예약중") {
                    state = 2;
                } else if (state == "진행중") {
                    state = 1;
                }
                formData.set("state", state);

                // 선택한 그룹 코드 idx 리스트 세팅
                let rowData = {};
                let groupIdxArr = new Array();
                let checkbox = $("input[name='code']:checked");
                if (checkbox.length > 0) {
                    checkbox.each(function (i) {
                        let groupIdx = checkbox.value;
                        rowData = {idx: groupIdx};
                        groupIdxArr.push(rowData);
                    })
                    const jsonData = JSON.stringify(groupIdxArr);
                    formData.set("json", jsonData);
                }

                // 선택한 작품 idx 세팅
                formData.set("contentsIdx", $("#contentsIdx").val());

                // 작품 판매 유형 세팅
                formData.set("sellType", sellType);

                // 선택한 지급 연령 세팅
                formData.set("adult", $("input:radio[name='age']:checked").val());

                // 선택한 이용권 사용 기간 세팅
                formData.set("startDate", $("#searchStartDate").val());
                formData.set("endDate", $("#searchEndDate").val());

                $.ajax({
                    url: '[[${SERVER.currentDomain}]]/v1/tickets/ready/[[${idx}]]',
                    method: "PUT",
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.result) {
                            // 수정 성공
                            toast.alert(res.message);
                            opener.location.reload();
                            self.close()
                        } else {
                            // 수정 실패
                            toast.alert(res.message);
                        }
                    },
                    error: function (request, status, error) {
                        // filter error
                        toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                    }
                });
                return false;
            }
        }
    }

    /** 날짜 관련 객체 **/
    let date = {
        // YYYY-MM-DD 형태로 변환
        getFormatDate: (input) => {
            let formatDate = "";
            if (input != null) {
                const year = input.slice(0, 4);
                const month = input.slice(5, 7);
                const day = input.slice(8, 10);
                let dateArr = new Array();
                dateArr.push(year);
                dateArr.push(month);
                dateArr.push(day);
                formatDate = dateArr.join("-");
            }
            return formatDate;
        },
        dateTimePicker : () => {
            // 언어 설정 : 한국어
            jQuery.datetimepicker.setLocale('kr');

            // 시작일 datetimepicker 생성
            $("#searchStartDate").datetimepicker({
                // 언어 설정 : 한국어
                i18n:{
                    kr:{
                        months:[
                            '1월','2월','3월','4월',
                            '5월','6월','7월','8월',
                            '9월','10월','11월','12월',
                        ],
                        dayOfWeek:[
                            "일", "월", "화", "수",
                            "목", "금", "토",
                        ]
                    }
                },
                format: "Y-m-d H:00:00",
                autocomplete: "off",
                minDate: 0, // 오늘 이후 날짜부터 선택 가능
                onSelect: function() {
                    let startDate = $("#searchStartDate").val();
                    $("#searchStartDate").val(startDate);
                },
                beforeShow: function() {
                    setTimeout(function(){
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                },
                onShow: function (ct) {
                    this.setOptions({
                        // 종료일의 선택할 수 있는 최소 날짜(minDate)를 선택한 시작일로 지정
                        maxDate: $("#searchEndDate").val() ? $("#searchEndDate").val() : false
                    })
                }
            }).on('changeDate', function(e){
                $(this).datetimepicker('hide');
            });

            // 종료일 datetimepicker 생성
            $("#searchEndDate").datetimepicker({
                // 언어 설정 : 한국어
                i18n:{
                    kr:{
                        months:[
                            '1월','2월','3월','4월',
                            '5월','6월','7월','8월',
                            '9월','10월','11월','12월',
                        ],
                        dayOfWeek:[
                            "일", "월", "화", "수",
                            "목", "금", "토",
                        ]
                    }
                },
                format: "Y-m-d H:00:00",
                autocomplete: "off",
                onSelect: function() {
                    let endDate = $("#searchEndDate").val();
                    $("#searchEndDate").val(endDate);
                },
                beforeShow: function() {
                    setTimeout(function(){
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                },
                onShow: function (ct) {
                    this.setOptions({
                        // 시작일의 선택할 수 있는 최대 날짜(maxDate)를 선택한 종료일로 지정
                        minDate: $("#searchStartDate").val() ? $("#searchStartDate").val() : false
                    })
                }
            }).on('changeDate', function(e){
                $(this).datetimepicker('hide');
            });
        }
    }
</script>