<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        paymentProduct.list(page);
    });

    let paymentProduct = {

        // 조회
        list: function (page = 1) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }

            // 검색 조건을 선택하지 않고 검색어를 입력한 경우
            if ($("select[name=searchType]").val() == "" && $("input[name=searchWord]").val() != "") {
                let searchFailMessage = `[[#{lang.contents.exception.search.type.empty}]]`; // 검색 조건을 설정해주세요.
                toast.alert(searchFailMessage);
            }

            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/payments/products',
                cache : true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {

                    if (res.result) {

                        // 페이지 url 갱신 (검색 후 새로고침 시 검색값 유지 )
                        if (window.location.search !== "?" + $("#frm").serialize()) {
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }

                        if (res.data.list.length > 0) {

                            // total count
                            $(".totalCount").next().text(res.data.params.pagination.totalRecordCount + "건");

                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {

                                listTbody += `
                                    <tr onclick="paymentProduct.view(${el.idx});" style="cursor:pointer;">
                                        <td class="text-center">${el.idx}</td>
                                        <td class="text-center"><span class="badge ${el.stateBg}">${el.stateText || "-"}</span></td>
                                        <td class="text-center">${el.title||"-"}</td>
                                        <td class="text-center">${el.typeText||"-"}</td>
                                         <td class="text-center">${paymentProduct.comma(Math.floor(el.mileage))}</td>
                                        <td class="text-center">${paymentProduct.comma(Math.floor(el.coin))}</td>
                                        <td class="text-center">${paymentProduct.comma(Math.floor(el.coinFree))}</td>
                                        <td class="text-center">${paymentProduct.comma(Math.floor(el.coinFree2))}</td>
                                        <td class="text-center">${paymentProduct.comma(Math.floor(el.coinTotalCnt))}</td>
                                        <td class="text-center">${paymentProduct.comma(Math.floor(el.price))}</td>
                                        <td class="text-center">${paymentProduct.comma(Math.floor(el.sort))}</td>
                                        <td class="text-center">${el.regdate||"-"}</td>
                                    </tr>
                                `;
                            });
                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("paymentProduct", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());

                        } else {
                            // total count
                            $(".totalCount").next().text("0건");
                            // 결과 없음
                            let listTbody = `<tr><td colspan="12" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }
                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 숫자 콤마 표시
        comma: function (num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        // 엑셀
        excel: function () {

            // 엑셀로 다운로드할 데이터가 없습니다.
            let excelDownloadFailMessage = `[[#{lang.payment.exception.product.excel.data.empty}]]`;

            if ($(".totalCount").next().text() == '0건') {
                toast.alert(excelDownloadFailMessage);
            } else {
                location.href = '[[${SERVER.currentDomain}]]/v1/payments/products/excel?'+$("#frm").serialize();
            }
        },
        // 결제 상품 상세 팝업
        view: function (idx) {
            js_popup('[[${SERVER.currentDomain}]]/payments/products/' + idx, 'payment_product_details', '650', '750');
        },
        // 새로고침 버튼
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/payments/products';
        },
        // 결제 상품 등록 팝업
        registerPopUp: function () {
            js_popup('[[${SERVER.currentDomain}]]/payments/products/register', 'payment_product_register', '650', '720');
        }
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function(event) {
        window.location = document.location.href;
    });
</script>