<script th:fragment="importJsFragment">
    $(document).ready(function () {
        paymentProduct.modifyView();
    });

    let paymentProduct = {

        // 수정할 결제 상품 정보 조회
        modifyView: function () {

            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/payments/products/[[${idx}]]',
                method: 'GET',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        if (res.data != undefined) {

                            // 사용 상태 세팅
                            if (res.data.state == 1) {
                                $("input:checkbox[id='state']").prop("checked", true);
                            }

                            // 결제 상품 구분 세팅
                            if (res.data.type == 1) { // 첫결제
                                $("input:radio[name ='type']:input[value='1']").attr("checked", true);
                            } else if (res.data.type == 2) { // 재결제
                                $("input:radio[name ='type']:input[value='2']").attr("checked", true);
                            } else if (res.data.type == 3) { // 장기미결제
                                $("input:radio[name ='type']:input[value='3']").attr("checked", true);
                            }

                            // 결제 상품 상세 정보 폼
                            $("td[name=idx]").text(res.data.idx);
                            $("td[name=title]").html(`<input type="text" name="title" id="title" class="form-control form-control-sm" value="${res.data.title||""}">`);
                            $("td[name=mileage]").html(`<input type="number" name="mileage" id="mileage" class="form-control form-control-sm" value="${res.data.mileage}">`);
                            $("td[name=coin]").html(`<input type="number" name="coin" id="coin" class="form-control form-control-sm" value="${res.data.coin}">`);
                            $("td[name=coinFree]").html(`<input type="number" name="coinFree" id="coinFree" class="form-control form-control-sm" value="${res.data.coinFree}">`);
                            $("td[name=coinFree2]").html(`<input type="number" name="coinFree2" id="coinFree2" class="form-control form-control-sm" value="${res.data.coinFree2}">`);
                            $("td[name=price]").html(`<input type="number" name="price" id="price" class="form-control form-control-sm" value="${res.data.price}">`);
                            $("td[name=sort]").html(`<input type="number" name="sort" id="sort" class="form-control form-control-sm" value="${res.data.sort}">`);
                            $("td[name=regdate]").text(res.data.regdate||"");

                        } else {
                            // 결과 없음
                            toast.alert(res.message);
                        }
                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 결제 수단 수정
        modify: function () {

            let modifyConfirmMessage = `[[#{lang.payment.product.confirm.modify}]]`;

            if (confirm(modifyConfirmMessage)) {

                let form = $("#modifyForm")[0];
                let formData = new FormData(form);
                if($("input:checkbox[name='state']:checked").val() == null) {
                    formData.append("state", 2);
                }

                $.ajax({
                    url: '[[${SERVER.currentDomain}]]/v1/payments/products/[[${idx}]]',
                    method: "PUT",
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.result) {
                            toast.alert(res.message);
                            opener.location.reload();
                            self.close();
                        } else {
                            // 수정 실패
                            toast.alert(res.message);
                        }
                    },
                    error: function (request, status, error) {
                        // filter error
                        toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                    }
                });
                return false;
            }
        }
    }
</script>