<th:block layout:decorate="~{common/layout_popup_nomenu}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container-fluid">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.payment.product.title.register}"></h5>
            </div>
            <div class="card-body row">
                <form id="registerForm" onsubmit="paymentProduct.register(); return false;"accept-charset="utf-8">
                    <table class="table">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.state}"></th>
                            <td>
                                <div class="form-check form-switch" style="padding: 0; margin: 0;">
                                    <input class="form-check-input" id="state" name="state" type="checkbox" value="1" style="margin-left:0;" checked>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.title}"></th>
                            <td class="text-center"><input type="text" name="title" id="title" class="form-control form-control-sm"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.type}"></th>
                            <td>
                                <div aria-label="Basic radio toggle button group" class="btn-group" role="group">
                                    <th:block th:each="type : ${dataSet.productType}">
                                        <input autocomplete="off" class="btn-check" th:id="'type' + ${type.key}" name="type" type="radio" th:value="|${type.key}|">
                                        <label class="btn btn-sm btn-outline-primary"  th:for="'type' + ${type.key}" th:text="|${type.value}|"></label>
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.coin}"></th>
                            <td class="text-center"><input type="number" name="coin" id="coin" class="form-control form-control-sm"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.mileage}"></th>
                            <td class="text-center"><input type="number" name="mileage" id="mileage" class="form-control form-control-sm"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.coinFree}"></th>
                            <td class="text-center"><input type="number" name="coinFree" id="coinFree" class="form-control form-control-sm"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.coinFree2}"></th>
                            <td class="text-center"><input type="number" name="coinFree2" id="coinFree2" class="form-control form-control-sm"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.price}"></th>
                            <td class="text-center"><input type="number" name="price" id="price" class="form-control form-control-sm"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.sort}"></th>
                            <td class="text-center"><input type="number" name="sort" id="sort" class="form-control form-control-sm"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group row">
                        <div class="col text-center">
                            <button type="button" class="btn btn-sm btn-primary" onclick="paymentProduct.register();" th:text="#{lang.payment.button.register}"></button>
                            <button type="button" class="btn btn-sm btn-secondary" th:onclick="|self.close()|" th:text="#{lang.payment.button.close}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- //컨텐츠 영역 -->
    </div>
</th:block>