<th:block layout:decorate="~{common/layout_popup_nomenu}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container-fluid">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" name="title" th:text="#{lang.payment.product.title.view}"></h5>
            </div>
            <div class="card-body row">
                <form id="frm" accept-charset="utf-8">
                    <table class="table">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.idx}"></th>
                            <td class="text-center" name="idx" id="idx"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.state}"></th>
                            <td class="text-center" name="state" id="state"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.title}"></th>
                            <td class="text-center" name="title" id="title"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.type}"></th>
                            <td class="text-center" name="type" id="type"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.coin}"></th>
                            <td class="text-center" name="coin" id="coin"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.mileage}"></th>
                            <td class="text-center" name="mileage" id="mileage"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.coinFree}"></th>
                            <td class="text-center" name="coinFree" id="coinFree"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.coinFree2}"></th>
                            <td class="text-center" name="coinFree2" id="coinFree2"></td>
                        </tr>
                        <tr>
                            <th class="text-bg-warning" th:text="#{lang.payment.product.coinTotalCnt}" style="text-align: center"></th>
                            <td class="text-center" name="coinTotalCnt" id="coinTotalCnt"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.price}"></th>
                            <td class="text-center" name="price" id="price"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.product.sort}"></th>
                            <td class="text-center" name="sort" id="sort"></td>
                        </tr>
                        <tr>
                            <th class="text-center" th:text="#{lang.payment.regdate}"></th>
                            <td class="text-center" name="regdate" id="regdate"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group row">
                        <div class="col text-center">
                            <button type="button" name="delete" class="btn btn-sm btn-danger" onclick="paymentProduct.delete();" th:text="#{lang.payment.button.delete}"></button>
                            <button type="button" name="modify" class="btn btn-sm btn-warning" onclick="paymentProduct.modifyPopUp();" th:text="#{lang.payment.button.modify}"></button>
                            <button type="button" name="close" class="btn btn-sm btn-secondary" th:onclick="|self.close()|" th:text="#{lang.payment.button.close}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- //컨텐츠 영역 -->
    </div>
</th:block>