<th:block layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="col-lg-12 mt-3">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.payment.title.list}"></h5>
            </div>
            <div class="card-body row">

                <div class="col-12">
                    <!-- 검색 폼 -->
                    <form id="frm" class="d-flex bd-highlight gx-3" onsubmit="payment.list(1); return false;" accept-charset="utf-8">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row p-0">
                                            <input type="hidden" name="idx" id="idx" value=""/>
                                            <div class="col-auto input-group input-group-sm m-1 p-0 col-4">

                                                <!-- 결제 상태 -->
                                                <select name="state" class="form-select form-select-sm col-3">
                                                    <option value=""  th:text="#{lang.payment.status}"></option>
                                                    <option value="1" th:text="#{lang.payment.status.normal}" th:selected="${search.state} == '1'"></option>
                                                    <option value="0" th:text="#{lang.payment.status.cancel}" th:selected="${search.state} == '0'"></option>
                                                </select>

                                                <!-- 검색 조건 -->
                                                <select name="searchType" class="form-select form-select-sm col-3">
                                                    <option value="" th:text="#{lang.payment.search}" ></option>
                                                    <option th:value="id" th:text="#{lang.payment.id}" th:selected="${search.searchType} == 'id'"></option>
                                                    <option th:value="nick" th:text="#{lang.payment.nick}" th:selected="${search.searchType} == 'nick'"></option>
                                                </select>

                                                <!-- 검색어 -->
                                                <input type="text" name="searchWord" class="form-control form-control-sm text-center" th:value="${search.searchWord}" th:placeholder="#{lang.payment.placeholder.search.word}" style="width:30%;">

                                                <!-- 현재 페이지 -->
                                                <input type="hidden" id="page" name="page">

                                            </div>

                                            <div class="col-auto input-group input-group-sm m-1 p-0 col-5">

                                                <!-- 날짜 검색 종류(결제일, 취소일)-->
                                                <select name="searchDateType" class="form-control form-select col-2" style="width:80px;" autocomplete="off">
                                                    <option value="" th:text="#{lang.payment.search}" ></option>
                                                    <option th:value="regdate" th:text="#{lang.payment.regdate}" th:selected="${search.searchDateType} == 'regdate'"></option>
                                                    <option th:value="moddate" th:text="#{lang.payment.moddate}" th:selected="${search.searchDateType} == 'moddate'"></option>
                                                </select>

                                                <!-- Date Picker -->
                                                <input type="text" th:placeholder="YYYY-MM-DD" id="searchStartDate" name="searchStartDate" maxlength="10" class="datePicker form-control text-center mr-2" oninput="date.forMatter(this)" autocomplete="off"/>
                                                <span class="h5 fw-bold" style="color: gray">~</span>
                                                <input type="text" th:placeholder="YYYY-MM-DD" id="searchEndDate" name="searchEndDate" maxlength="10" class="datePicker form-control text-center ml-2" oninput="date.forMatter(this)" autocomplete="off"/>
                                            </div>

                                            <!-- 검색 버튼 -->
                                            <div class="col-auto btn-group btn-group-sm m-1 p-0">
                                                <button type="button" id="searchBtn" th:text="#{lang.payment.button.search}" onclick="payment.list(1);" class="btn btn-success pr-3 pl-3"></button>
                                                <button type="button" class="btn btn-outline-success" onclick="payment.reset();"><i class="fa-solid fa-rotate-left"></i></button>
                                            </div>

                                            <!-- 엑셀 다운로드 버튼 -->
                                            <div class="text-right col">
                                                <button type="button" id="excelBtn" onclick="payment.excel();" class="btn btn-sm btn-info" th:text="#{lang.payment.button.excel}"></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-inline p-0">

                                            <!-- 검색 결과 총 개수 -->
                                            <div class="float-left form-control-sm">
                                                <strong class="totalCount" th:text="#{lang.payment.search.result} + ' : ' "></strong><span></span>
                                            </div>

                                            <!-- 조회 개수 필터 -->
                                            <div class="float-right form-control-sm col-2">
                                                <select id="searchCount" name="searchCount" class="float-right form-select form-select-sm col-10" onchange="payment.list(1);">
                                                    <option th:value="30" th:text="#{lang.payment.count.30}" th:selected="${search.searchCount} == '30'"></option>
                                                    <option th:value="50" th:text="#{lang.payment.count.50}" th:selected="${search.searchCount} == '50'"></option>
                                                    <option th:value="100" th:text="#{lang.payment.count.100}" th:selected="${search.searchCount} == '100'"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- //검색 폼 -->

                    <!-- list -->
                    <table class="table table-hover" id="lists">
                        <thead class="table-dark">
                            <tr class="text-center">
                                <th scope="col" rowspan="2" th:text="#{lang.payment.idx}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.state}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="|#{lang.payment.id}(#{lang.payment.nick})|" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.payer}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.payType}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.app}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.pay}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.payMethod}" class="text-center"></th>
                                <th scope="col" colspan="3" th:text="#{lang.payment.coin}" class="text-center"></th>
                                <th scope="col" colspan="3" th:text="#{lang.payment.bonus}" class="text-center"></th>
                                <th scope="col" colspan="3" th:text="#{lang.payment.mileage}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.regdate}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.moddate}" class="text-center"></th>
                                <th scope="col" rowspan="2" th:text="#{lang.payment.manage}" class="text-center"></th>
                            </tr>
                            <tr class="text-center">
                                <th scope="col" th:text="#{lang.payment.paid}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.used}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.rest}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.paid}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.used}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.rest}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.paid}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.used}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.payment.rest}" class="text-center"></th>
                            </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <th:block layout:fragment="paging">
                        <div class="col-md-12 d-flex flex-row-reverse my-3">
                            <ul class="pagination" style="font-size: 12px;">
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 영역 -->
    </div>
</th:block>
