<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.dao.code.CodeDao">
    <!-- ==============================================================
        SETTING
    =============================================================== -->
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- ==============================================================
        INSERT
    =============================================================== -->

    <!-- 코드 추가 -->
    <insert id="register" parameterType="CodeDto">
        INSERT INTO <include refid="database" />code
        <set>
            `code`          = #{code},
            `state`         = 1,
            `regdate`       = #{regdate},
            `regdate_tz`    = '${convertTZ}'
        </set>
    </insert>
</mapper>