<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.dao.admin.AdminDao">
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- ==============================================================
        INSERT
    =============================================================== -->

    <!-- 관리자 등록 -->
    <insert id="insertAdmin" parameterType="AdminDto" useGeneratedKeys="true" keyProperty="insertedId">
        INSERT INTO <include refid="database" />`admin`
        <set>
            `id`                     =  #{id},
            `password`               =  #{password},
            `name`                   =  #{name},
            `state`                  =  2,
            `level`                  =  0,
            `regdate`                =  #{regdate},
            `regdate_tz`             =  '${convertTZ}',
            `last_login_date`        =  #{regdate},
            `last_login_date_tz`     =  '${convertTZ}'
        </set>
    </insert>

    <!-- ==============================================================
        UPDATE
    =============================================================== -->

    <!-- 마지막 로그인 날짜 업데이트 -->
    <update id="updateLastDate" parameterType="AdminDto" useGeneratedKeys="true" keyProperty="lastDateRow">
        UPDATE <include refid="database" />`admin`
        SET
            `last_login_date` = #{lastLoginDate},
            `last_login_date_tz` = '${convertTZ}'
        WHERE
            `idx` = #{idx}
    </update>

    <!-- 관리자 수정 -->
    <update id="modifyAdmin" parameterType="adminDto">
        UPDATE <include refid="database" /> `admin`
        SET
            `level` = #{level},
            `state` = #{state}
        WHERE
            `idx` = #{idx}
    </update>

    <!-- 내 정보 수정 -->
    <update id="modifyMyPage" parameterType="adminDto">
        UPDATE <include refid="database" /> `admin`
        SET
            `name` = #{name},
            `level` = #{level},
            `state` = #{state}
        WHERE
            `idx` = #{idx}
    </update>

    <!-- 비밀번호 변경 -->
    <update id="modifyPassword" parameterType="adminDto">
        UPDATE <include refid="database" /> `admin`
        SET
            `password` = #{password}
        WHERE
            `idx` = #{idx}
    </update>

</mapper>