<th:block layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="col-lg-12 mt-3">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.coin.title.use.coin.list}"></h5>
            </div>
            <div class="card-body row">
                <!-- 리스트 -->
                <div class="col-12">
                    <!-- 검색 폼 -->
                    <form id="frm" class="d-flex bd-highlight gx-3" onsubmit="coin.list(1); return false;" accept-charset="utf-8">
                        <table class="table m-0">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="row p-0">
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-5">
                                            <!-- 날짜 검색 종류(등록일, 만료일)-->
                                            <select name="searchDateType" class="form-control form-select col-2" style="width:80px;" autocomplete="off">
                                                <option th:value="regdate" th:text="#{lang.common.search.regdate}" th:selected="${search.searchDateType} == 'regdate'"></option>
                                                <option th:value="expiredate" th:text="#{lang.common.search.expiredate}" th:selected="${search.searchDateType} == 'expiredate'"></option>
                                            </select>

                                            <input type="text"  placeholder="YYYY-MM-DD" id="startDate" name="searchStartDate" maxlength="10" class="datePicker form-control text-center mr-2" oninput="date.forMatter(this)" autocomplete="off"/>
                                            <span class="h5 fw-bold" style="color: gray">~</span>
                                            <input type="text"  placeholder="YYYY-MM-DD" id="endDate" name="searchEndDate" maxlength="10" class="datePicker form-control text-center ml-2" oninput="date.forMatter(this)" autocomplete="off"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row p-0">
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-6">

                                            <!-- state -->
                                            <select name="state" class="form-select form-select-sm col-2">
                                                <option value=""  th:text="#{lang.coin.state}"></option>
                                                <option value="1" th:text="#{lang.coin.state.normal}" th:selected="${search.state} == '1'"></option>
                                                <option value="0" th:text="#{lang.coin.state.expire}" th:selected="${search.state} == '0'"></option>
                                            </select>
                                            <!-- 검색 조건 -->
                                            <select name="searchType" class="form-control form-select col-2" style="width:80px;">
                                                <option value="" th:text="#{lang.common.search}" ></option>
                                                <option th:value="id" th:text="#{lang.member.id}" th:selected="${search.searchType} == 'id'"></option>
                                                <option th:value="nick" th:text="#{lang.member.nick}" th:selected="${search.searchType} == 'nick'"></option>
                                            </select>

                                            <!-- 검색어 -->
                                            <input type="text" name="searchWord" class="form-control form-control-sm text-center col-5" th:value="${search.searchWord}" th:placeholder="#{lang.member.placeholder.search.word}" style="width:30%;">

                                            <!-- 보기 조건 -->
                                            <select name="searchCount" class="form-select form-select-sm col-3">
                                                <option value="10"  th:text="#{lang.common.search.ten}" th:selected="${search.searchCount} == '10'"></option>
                                                <option value="30" th:text="#{lang.common.search.thirty}" th:selected="${search.searchCount} == '30'"></option>
                                                <option value="50" th:text="#{lang.common.search.fifty}" th:selected="${search.searchCount} == '50'"></option>
                                                <option value="100" th:text="#{lang.common.search.hundred}" th:selected="${search.searchCount} == '100'"></option>
                                            </select>

                                            <!-- 현재 페이지 -->
                                            <input type="hidden" id="page" name="page" value="1">
                                        </div>

                                        <div class="col-auto btn-group btn-group-sm m-1 p-0">
                                            <!-- 검색버튼 -->
                                            <button type="button" id="searchBtn" th:text="#{lang.common.button.search}" onclick="coin.list(1);" class="btn btn-success pr-3 pl-3"></button>
                                            <button type="button" class="btn btn-outline-success" onclick="coin.reset();"><i class="fa-solid fa-rotate-left"></i></button>
                                        </div>
                                        <!-- 오른쪽 버튼 -->
                                        <div class="col-auto m-1 p-0 ">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-inline p-0">
                                        <div class="float-left form-control-sm">
                                            <strong class="totalCount" th:text="#{lang.member.search.result} + ' : ' "></strong> <span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- //검색 폼 -->

                    <!-- list -->
                    <table class="table table-hover" id="lists">
                        <colgroup>
                            <col style="width:100px;"/>
                            <col style="width:50px;"/>
                            <col style="width:250px;"/>
                            <col style="width:150px;"/>
                            <col style="width:200px;"/>
                            <col style="width:70px;"/>
                            <col style="width:100px;"/>
                            <col style="width:140px;"/>
                            <col style="width:140px;"/>
                        </colgroup>
                        <thead class="table-dark">
                        <tr class="text-center">
                            <th scope="col" th:text="#{lang.coin.idx}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.coin.state}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.member.id}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.member.nick}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.coin.title}" class="text-center" style="width:15%;"></th>
                            <th scope="col" th:text="#{lang.coin.type}" class="text-center" style="width:10%;"></th>
                            <th scope="col" th:text="#{lang.coin.coin}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.coin.use.coin}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.coin.rest.coin}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.coin.regdate}" class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <th:block layout:fragment="paging">
                        <div class="col-md-12 d-flex flex-row-reverse my-3">
                            <ul class="pagination" style="font-size: 12px;">
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 영역 -->
    </div>
</th:block>
