<th:block layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="col-lg-12 mt-3">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.contents.title.list}"></h5>
            </div>
            <div class="card-body row">
                <!-- 리스트 -->
                <div class="col-12">
                    <!-- 검색 폼 -->
                    <form id="frm" class="d-flex bd-highlight gx-3" onsubmit="contents.list(1); return false;" accept-charset="utf-8">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row p-0">

                                            <div id="selectLayer" class="col-auto input-group input-group-sm m-1 p-0">
                                                <!-- 일반관 / 성인관 -->
                                                <select name="adultPavilion" class="form-select form-select-sm col-1 ml-1">
                                                    <option value="" th:text="#{lang.contents.pavilion}"></option>
                                                    <option value="0" th:text="#{lang.contents.pavilion.all}"></option>
                                                    <option value="1" th:text="#{lang.contents.pavilion.adult}"></option>
                                                </select>

                                                <!-- 작품 상태 -->
                                                <select name="state" class="form-select form-select-sm col-1 ml-1">
                                                    <option value="" th:text="#{lang.contents.state}"></option>
                                                    <option value="1" th:text="#{lang.contents.state.normal}"></option>
                                                    <option value="0" th:text="#{lang.contents.state.unsold}"></option>
                                                    <option value="2" th:text="#{lang.contents.state.wait}"></option>
                                                    <option value="3" th:text="#{lang.contents.state.refuse}"></option>
                                                </select>

                                                <!-- 카테고리 -->
                                                <select name="categoryIdx" class="form-select form-select-sm col-1 ml-1">
                                                    <option value="" th:text="#{lang.contents.category}"></option>
                                                    <option value="1" th:text="#{lang.contents.category.webtoon}"></option>
                                                    <option value="2" th:text="#{lang.contents.category.comic}"></option>
                                                    <option value="3" th:text="#{lang.contents.category.novel}"></option>
                                                </select>

                                                <!-- 장르 -->
                                                <select name="genreIdx" class="form-select form-select-sm col-2 ml-1">
                                                </select>
                                            </div>

                                            <!-- 검색 조건 -->
                                            <div class="col-11 input-group input-group-sm m-1 p-0">
                                                <select name="searchType" class="form-select form-select-sm col-1 ml-1">
                                                    <option value="" th:text="#{lang.contents.search}"></option>
                                                    <option value="idx" th:text="#{lang.contents.idx}"></option>
                                                    <option value="title" th:text="#{lang.contents.title}"></option>
                                                    <option value="label" th:text="#{lang.contents.label}"></option>
                                                    <option value="cp" th:text="#{lang.contents.cp_member.company.name}"></option>
                                                </select>

                                                <!-- 검색어 -->
                                                <input type="text" name="searchWord" class="form-control text-center col-3 rounded-right" th:placeholder="#{lang.placeholder.search.word}">

                                                <!-- 검색버튼 -->
                                                <button type="button" id="searchBtn" class="btn btn-success ml-1 pr-3 pl-3" th:text="#{lang.button.search}" onclick="contents.list(1)"></button>
                                                <button type="button" class="btn btn-outline-success" onclick="contents.reset();"><i class="fa-solid fa-rotate-left"></i></button>

                                                <!-- 현재 페이지 -->
                                                <input type="hidden" id="page" name="page" th:value="${params.page}">
                                            </div>
                                            <div class="col btn-group-sm m-1 p-0 text-right">
                                                <!-- 작품 추가 -->
                                                <button type="button" id="registBtn" class="btn btn-primary pr-3 pl-3 rounded" th:text="#{lang.contents.button.add_contents}" onclick="contents.register();"></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-inline p-0">
                                            <div class="float-left form-control-sm">
                                                <strong class="totalCount" th:text="#{lang.search.result} + ' : ' "></strong> <span></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- //검색 폼 -->

                    <!-- list -->
                    <table class="table table-hover" id="lists">
                        <thead class="table-dark">
                            <tr class="text-center">
                                <th scope="col" th:text="#{lang.contents.idx}" class="text-center" style="width:80px;"></th>
                                <th scope="col" th:text="#{lang.contents.pavilion}" class="text-center" style="width:80px;"></th>
                                <th scope="col" th:text="#{lang.contents.age}" class="text-center" style="width:80px;"></th>
                                <th scope="col" th:text="#{lang.contents.category}" class="text-center" style="width:150px;"></th>
                                <th scope="col" th:text="#{lang.contents.genre}" class="text-center" style="width:150px;"></th>
                                <th scope="col" th:text="#{lang.contents.image.main}" class="text-center" style="width:200px;"></th>
                                <th scope="col" th:text="#{lang.contents.title}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.contents.service_type}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.contents.cp_member.company.name}" class="text-center"></th>
                                <th scope="col" th:text="#{lang.contents.state}" class="text-center" style="width:80px;"></th>
                                <th scope="col" th:text="#{lang.contents.manage}" class="text-center" style="width:90px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <th:block layout:fragment="paging">
                        <div class="col-md-12 d-flex flex-row-reverse my-3">
                            <ul class="pagination" style="font-size: 12px;">
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 영역 -->
    </div>
</th:block>