<script th:fragment="importJsFragment">
    $(document).ready(function () {
        cp.view();
    });

    let form = $("#frm")[0];
    let formData = new FormData(form);

    let text = {
        modifyConfirm : "[[#{lang.admin.confirm.modify}]]", // 수정 confirm
        deleteConfirm : "[[#{lang.admin.confirm.delete}]]" // 삭제 confirm
    }

    let cp = {
        // 상세
        view: function () {
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/admin/cp/[[${idx}]]',
                method: 'GET',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        if (res.data != undefined) {

                            // 관리자 상세 정보 폼
                            $("#idx").text(res.data.idx);
                            $("#id").text(res.data.id);
                            $("#name").val(res.data.name);
                            $("input[name=level]").radioSelect(res.data.level);
                            $("input[name=state]").radioSelect(res.data.state);
                            $("#regdate").text(res.data.regdate);
                            $("#ceo").val(res.data.ceo);
                            $("#companyEmail").val(res.data.companyEmail);
                            $("#phone").val(res.data.phone);
                            $("#manager").val(res.data.manager);
                            $("#managerPhone").val(res.data.managerPhone);
                            $("#companyName").val(res.data.companyName);
                            $("#businessNumber").val(res.data.businessNumber);
                            $("#businessType").val(res.data.businessType);
                            $("#bankName").val(res.data.bankName);
                            $("#bankNumber").val(res.data.bankNumber);
                            $("#holder").val(res.data.holder);
                            $("#billingEmail").val(res.data.billingEmail);
                            $("#cpmg").val(res.data.cpmg);
                            $("#bankFileUrl").attr("fileUrl",res.data.bankFileUrl);
                            $("#businessFileUrl").attr("fileUrl",res.data.businessFileUrl);
                        } else {
                            // 결과 없음
                            toast.alert(res.message);
                        }
                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });

            return false;
        },
        // 목록
        list: function () {
            let qStr = $.cookie("backUrl");
            location.href = "[[${SERVER.currentDomain}]]/cp?" + qStr;
        },
        // 수정
        modify: function () {
            formData = new FormData(form);

            // CPMG 금액 콤마 제거
            formData.set("cpmg", formData.get("cpmg").split(",").join(""));

            if (confirm(text.modifyConfirm)) {
                $.ajax({
                    url: '[[${SERVER.currentDomain}]]/v1/admin/cp/[[${idx}]]',
                    method: 'PUT',
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.result) {
                            toast.alert(res.message);

                        } else {
                            // ajax exception error
                            toast.alert(res.message);
                        }
                    },
                    error: function (request, status, error) {
                        // filter error
                        toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                    }
                });
            }

            return false;
        },
        openPop:function (url){
            window.open(url, 'popup', 'width=800px,height=800px,scrollbars=yes');
        }
    }

    // 라디오 버튼 checked
    $.fn.radioSelect = function(val) {
        this.each(function() {
            let _this = $(this);

            if (_this.val() == val) {
                _this.prop('checked', true);
            }
        });
        return this;
    }

    // CPMG 금액 천단위 콤마
    document.getElementById("cpmg").addEventListener("keyup", function (e) {
        $(this).val($(this).val().replace(/\,/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,'));
    });

</script>